In [1]:
import pandas as pd

In [2]:
file_path = "./data/ddw1.xlsx"
df = pd.read_excel(file_path)

In [3]:
len(df)

24300

**Features**

In [4]:
print(df.columns)

Index(['RENDERING_NPI', 'PROVIDER_LEGAL_NAME', 'CALENDAR_YEAR',
       'DELIVERY_SYSTEM', 'PROVIDER_TYPE', 'AGE_GROUP', 'ADV_USER_CNT',
       'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT', 'ADV_SVC_ANNOTATION_CODE',
       'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE', 'PREV_SVC_CNT',
       'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT',
       'EXAM_SVC_ANNOTATION_CODE'],
      dtype='object')

**Number of missing values under each feature**

In [5]:
missing_val = df.isnull().sum()
print(missing_val)

RENDERING_NPI                     0
PROVIDER_LEGAL_NAME               2
CALENDAR_YEAR                     0
DELIVERY_SYSTEM                   0
PROVIDER_TYPE                     0
AGE_GROUP                         0
ADV_USER_CNT                   5848
ADV_USER_ANNOTATION_CODE      18452
ADV_SVC_CNT                    5848
ADV_SVC_ANNOTATION_CODE       18452
PREV_USER_CNT                  8744
PREV_USER_ANNOTATION_CODE     15556
PREV_SVC_CNT                   4592
PREV_SVC_ANNOTATION_CODE      19708
TXMT_USER_CNT                  5792
TXMT_USER_ ANNOTATION_CODE    18508
TXMT_SVC_CNT                   5792
TXMT_SVC_ANNOTATION_CODE      18508
EXAM_USER_CNT                  4712
EXAM_USER_ANNOTATION_CODE     19588
EXAM_SVC_CNT                   4712
EXAM_SVC_ANNOTATION_CODE      19588
dtype: int64

**Delivery System**

In [6]:
feature_name = 'DELIVERY_SYSTEM'
print(df[feature_name].unique())
print(f"missing values: {df[feature_name].isnull().sum()}")

['FFS' 'PHP' 'GMC']
missing values: 0

**FFS**: (Fee-For-Service), providers are paid a fee for each specific service they perform.

**GMC**: (Geographic Managed Care), might be enrolled in a health plan that serves a specific geographic area.

**PHP**: (Pre-Paid Health), pays a fixed, regular fee to the health plan, it could provide a pre-determined set of healthcare services as needed. Could be like a subscription service for healthcare, by paying upfront.

**Suggestions**:
* transform (cat -> num)

In [7]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

le = LabelEncoder()

df['DELIVERY_SYSTEM_ENCODED'] = le.fit_transform(df['DELIVERY_SYSTEM'])
df.head(1)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,CALENDAR_YEAR,DELIVERY_SYSTEM,PROVIDER_TYPE,AGE_GROUP,ADV_USER_CNT,ADV_USER_ANNOTATION_CODE,ADV_SVC_CNT,ADV_SVC_ANNOTATION_CODE,...,PREV_SVC_ANNOTATION_CODE,TXMT_USER_CNT,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,DELIVERY_SYSTEM_ENCODED
0,1003003781,CHOTI SUPAK,2018,FFS,RENDERING,AGE 0-20,101.0,NaN,847.0,NaN,...,NaN,37.0,NaN,115.0,NaN,83.0,NaN,98.0,NaN,0

reordering columns

In [8]:
new_order = ['RENDERING_NPI', 'PROVIDER_LEGAL_NAME', 'CALENDAR_YEAR',
       'DELIVERY_SYSTEM', 'DELIVERY_SYSTEM_ENCODED', 'PROVIDER_TYPE', 'AGE_GROUP', 'ADV_USER_CNT',
       'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT', 'ADV_SVC_ANNOTATION_CODE',
       'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE', 'PREV_SVC_CNT',
       'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT', 'EXAM_SVC_ANNOTATION_CODE']

df = df[new_order]
df.head(1)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,CALENDAR_YEAR,DELIVERY_SYSTEM,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE,AGE_GROUP,ADV_USER_CNT,ADV_USER_ANNOTATION_CODE,ADV_SVC_CNT,...,PREV_SVC_CNT,PREV_SVC_ANNOTATION_CODE,TXMT_USER_CNT,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE
0,1003003781,CHOTI SUPAK,2018,FFS,0,RENDERING,AGE 0-20,101.0,NaN,847.0,...,216.0,NaN,37.0,NaN,115.0,NaN,83.0,NaN,98.0,NaN

**More about Provider Type**

In [9]:
feature_name = 'PROVIDER_TYPE'
print(df[feature_name].unique())
print(f"missing values: {df[feature_name].isnull().sum()}")

['RENDERING' 'RENDERING SNC']
missing values: 0

**RENDERING**: providers those that generally have higher prices, operate as a **for-profit**, and provides services to commercial insurance. 

**RENDERING SNC**: refers to provider in the Safety Net Clinic (SNC), they operate as a mission-driven or **non-profit framework** generally offer affordable prices, for low to average-waged people.

**Suggestions**:
* transform (cat -> num)

In [10]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

le = LabelEncoder()

df['PROVIDER_TYPE_ENCODED'] = le.fit_transform(df['PROVIDER_TYPE'])
new_order = ['RENDERING_NPI', 'PROVIDER_LEGAL_NAME', 'CALENDAR_YEAR',
       'DELIVERY_SYSTEM', 'DELIVERY_SYSTEM_ENCODED', 'PROVIDER_TYPE', 'PROVIDER_TYPE_ENCODED', 'AGE_GROUP', 'ADV_USER_CNT',
       'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT', 'ADV_SVC_ANNOTATION_CODE',
       'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE', 'PREV_SVC_CNT',
       'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT', 'EXAM_SVC_ANNOTATION_CODE']
df = df[new_order]
df.head(1)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,CALENDAR_YEAR,DELIVERY_SYSTEM,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE,PROVIDER_TYPE_ENCODED,AGE_GROUP,ADV_USER_CNT,ADV_USER_ANNOTATION_CODE,...,PREV_SVC_CNT,PREV_SVC_ANNOTATION_CODE,TXMT_USER_CNT,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE
0,1003003781,CHOTI SUPAK,2018,FFS,0,RENDERING,0,AGE 0-20,101.0,NaN,...,216.0,NaN,37.0,NaN,115.0,NaN,83.0,NaN,98.0,NaN

**Age Groups**

In [11]:
feature_name = 'AGE_GROUP'
print(df[feature_name].unique())
print(f"missing values: {df[feature_name].isnull().sum()}")

['AGE 0-20' 'AGE 21+']
missing values: 0

In [12]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

le = LabelEncoder()

df['AGE_GROUP_ENCODED'] = le.fit_transform(df['AGE_GROUP'])
new_order = ['RENDERING_NPI', 'PROVIDER_LEGAL_NAME', 'CALENDAR_YEAR',
       'DELIVERY_SYSTEM', 'DELIVERY_SYSTEM_ENCODED', 'PROVIDER_TYPE', 'PROVIDER_TYPE_ENCODED', 'AGE_GROUP', 'AGE_GROUP_ENCODED', 'ADV_USER_CNT',
       'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT', 'ADV_SVC_ANNOTATION_CODE',
       'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE', 'PREV_SVC_CNT',
       'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT', 'EXAM_SVC_ANNOTATION_CODE']
df = df[new_order]
df.head(1)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,CALENDAR_YEAR,DELIVERY_SYSTEM,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE,PROVIDER_TYPE_ENCODED,AGE_GROUP,AGE_GROUP_ENCODED,ADV_USER_CNT,...,PREV_SVC_CNT,PREV_SVC_ANNOTATION_CODE,TXMT_USER_CNT,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE
0,1003003781,CHOTI SUPAK,2018,FFS,0,RENDERING,0,AGE 0-20,0,101.0,...,216.0,NaN,37.0,NaN,115.0,NaN,83.0,NaN,98.0,NaN

The rest of the features (from my understanding) are divided into:
* **ADV**: advanced procedures
* **PREV**: preventive procedures
* **TXMT**: treatment and surgical procedures
* **EXAM**: examination

If we had to order this in terms of criticality (as in increasing order of critical-ness of a procedure), it would be: **EXAM** < **PREV** < **ADV** or **TXMT**

Each of these have a **User Count**, **Annotation Code**, **Service Count**, and **Service Annotation Code**

Though I could not narrow down what "Annotation Code" really is, I could notice the Annotation Codes were only given to those rows where the corresponding "Count" was missing. 
This could mean annotation codes are given to special cases where the data is not present but is a special case scenario that refers to something.

In [13]:
print(df['ADV_USER_ANNOTATION_CODE'].unique())

[nan  1.]

In [14]:
print(df['ADV_SVC_ANNOTATION_CODE'].unique())

[nan  2.  1.]

In [15]:
list_anno_code = [f_name for f_name in df.columns if "ANNOTATION_CODE" in f_name]

anno_table = {
    'feature': list_anno_code,
    'unique values': [un_vals for un_vals in [df[val].unique() for val in list_anno_code]]
}

df_anno_table = pd.DataFrame(anno_table)
print(df_anno_table)

                      feature    unique values
0    ADV_USER_ANNOTATION_CODE       [nan, 1.0]
1     ADV_SVC_ANNOTATION_CODE  [nan, 2.0, 1.0]
2   PREV_USER_ANNOTATION_CODE       [nan, 1.0]
3    PREV_SVC_ANNOTATION_CODE  [nan, 1.0, 2.0]
4  TXMT_USER_ ANNOTATION_CODE       [nan, 1.0]
5    TXMT_SVC_ANNOTATION_CODE  [nan, 2.0, 1.0]
6   EXAM_USER_ANNOTATION_CODE       [nan, 1.0]
7    EXAM_SVC_ANNOTATION_CODE  [nan, 1.0, 2.0]

Since straight up imputing methods (mean/median/mode) wouldn't really make sense in our case as these annotation codes mean a specific case, I'm gonna add -1 in place of NANs to handle missing values.

In [16]:
for col in list_anno_code:
    df[col] = df[col].fillna(-1)

In [17]:
anno_table = {
    'feature': list_anno_code,
    'unique values': [un_vals for un_vals in [df[val].unique() for val in list_anno_code]]
}

df_anno_table = pd.DataFrame(anno_table)
print(df_anno_table)

                      feature     unique values
0    ADV_USER_ANNOTATION_CODE       [-1.0, 1.0]
1     ADV_SVC_ANNOTATION_CODE  [-1.0, 2.0, 1.0]
2   PREV_USER_ANNOTATION_CODE       [-1.0, 1.0]
3    PREV_SVC_ANNOTATION_CODE  [-1.0, 1.0, 2.0]
4  TXMT_USER_ ANNOTATION_CODE       [-1.0, 1.0]
5    TXMT_SVC_ANNOTATION_CODE  [-1.0, 2.0, 1.0]
6   EXAM_USER_ANNOTATION_CODE       [-1.0, 1.0]
7    EXAM_SVC_ANNOTATION_CODE  [-1.0, 1.0, 2.0]

Likewise for the count features we replace missing values with -1.

In [18]:
missing_val = df.isnull().sum()
print(missing_val)

RENDERING_NPI                    0
PROVIDER_LEGAL_NAME              2
CALENDAR_YEAR                    0
DELIVERY_SYSTEM                  0
DELIVERY_SYSTEM_ENCODED          0
PROVIDER_TYPE                    0
PROVIDER_TYPE_ENCODED            0
AGE_GROUP                        0
AGE_GROUP_ENCODED                0
ADV_USER_CNT                  5848
ADV_USER_ANNOTATION_CODE         0
ADV_SVC_CNT                   5848
ADV_SVC_ANNOTATION_CODE          0
PREV_USER_CNT                 8744
PREV_USER_ANNOTATION_CODE        0
PREV_SVC_CNT                  4592
PREV_SVC_ANNOTATION_CODE         0
TXMT_USER_CNT                 5792
TXMT_USER_ ANNOTATION_CODE       0
TXMT_SVC_CNT                  5792
TXMT_SVC_ANNOTATION_CODE         0
EXAM_USER_CNT                 4712
EXAM_USER_ANNOTATION_CODE        0
EXAM_SVC_CNT                  4712
EXAM_SVC_ANNOTATION_CODE         0
dtype: int64

In [19]:
list_cnt_code = [f_name for f_name in df.columns if "CNT" in f_name]

for col in list_cnt_code:
    df[col] = df[col].fillna(-1)

In [20]:
missing_val = df.isnull().sum()
print(missing_val)

RENDERING_NPI                 0
PROVIDER_LEGAL_NAME           2
CALENDAR_YEAR                 0
DELIVERY_SYSTEM               0
DELIVERY_SYSTEM_ENCODED       0
PROVIDER_TYPE                 0
PROVIDER_TYPE_ENCODED         0
AGE_GROUP                     0
AGE_GROUP_ENCODED             0
ADV_USER_CNT                  0
ADV_USER_ANNOTATION_CODE      0
ADV_SVC_CNT                   0
ADV_SVC_ANNOTATION_CODE       0
PREV_USER_CNT                 0
PREV_USER_ANNOTATION_CODE     0
PREV_SVC_CNT                  0
PREV_SVC_ANNOTATION_CODE      0
TXMT_USER_CNT                 0
TXMT_USER_ ANNOTATION_CODE    0
TXMT_SVC_CNT                  0
TXMT_SVC_ANNOTATION_CODE      0
EXAM_USER_CNT                 0
EXAM_USER_ANNOTATION_CODE     0
EXAM_SVC_CNT                  0
EXAM_SVC_ANNOTATION_CODE      0
dtype: int64

We can still see there's 2 missing values under PROVIDER_LEGAL_NAME, we could just drop them since it's unlikely to have a significant impact on the data.

**Also it was later determined that the 2 missing values under PROVIDER_LEGAL_NAME were no longer valid in the NPPES registry, thus dropping it would make more sense**

In [21]:
df.dropna(subset=['PROVIDER_LEGAL_NAME'], inplace=True)
missing_val = df.isnull().sum()
print(missing_val)

RENDERING_NPI                 0
PROVIDER_LEGAL_NAME           0
CALENDAR_YEAR                 0
DELIVERY_SYSTEM               0
DELIVERY_SYSTEM_ENCODED       0
PROVIDER_TYPE                 0
PROVIDER_TYPE_ENCODED         0
AGE_GROUP                     0
AGE_GROUP_ENCODED             0
ADV_USER_CNT                  0
ADV_USER_ANNOTATION_CODE      0
ADV_SVC_CNT                   0
ADV_SVC_ANNOTATION_CODE       0
PREV_USER_CNT                 0
PREV_USER_ANNOTATION_CODE     0
PREV_SVC_CNT                  0
PREV_SVC_ANNOTATION_CODE      0
TXMT_USER_CNT                 0
TXMT_USER_ ANNOTATION_CODE    0
TXMT_SVC_CNT                  0
TXMT_SVC_ANNOTATION_CODE      0
EXAM_USER_CNT                 0
EXAM_USER_ANNOTATION_CODE     0
EXAM_SVC_CNT                  0
EXAM_SVC_ANNOTATION_CODE      0
dtype: int64

In [22]:
df.to_csv('./data/csv/cleaned_v1.csv', index=False)
df.to_excel('./data/xlsx/cleaned_v1.xlsx', index=False)

In [23]:
df.head(5)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,CALENDAR_YEAR,DELIVERY_SYSTEM,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE,PROVIDER_TYPE_ENCODED,AGE_GROUP,AGE_GROUP_ENCODED,ADV_USER_CNT,...,PREV_SVC_CNT,PREV_SVC_ANNOTATION_CODE,TXMT_USER_CNT,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE
0,1003003781,CHOTI SUPAK,2018,FFS,0,RENDERING,0,AGE 0-20,0,101.0,...,216.0,-1.0,37.0,-1.0,115.0,-1.0,83.0,-1.0,98.0,-1.0
1,1003003781,CHOTI SUPAK,2018,FFS,0,RENDERING,0,AGE 21+,1,67.0,...,30.0,-1.0,43.0,-1.0,73.0,-1.0,15.0,-1.0,15.0,-1.0
2,1003004698,"GODFREY III, MERLE FRANKLIN,",2018,FFS,0,RENDERING,0,AGE 21+,1,357.0,...,131.0,-1.0,357.0,-1.0,712.0,-1.0,316.0,-1.0,316.0,-1.0
3,1003009440,VONTELA REKHA,2018,FFS,0,RENDERING,0,AGE 0-20,0,975.0,...,3732.0,-1.0,208.0,-1.0,456.0,-1.0,919.0,-1.0,1081.0,-1.0
4,1003009440,VONTELA REKHA,2018,FFS,0,RENDERING,0,AGE 21+,1,837.0,...,1396.0,-1.0,335.0,-1.0,824.0,-1.0,744.0,-1.0,744.0,-1.0

Because it's unclear as to how this data is going to be used in the final product, for now let's go further based on few assumptions in the best of my understanding about the data.

If a clinic has high counts of **ADV_SVC_CNT** (Advanced Service Count) and **TXMT_SVC_CNT** (Treatment Service Count) which means they require labs with strong expertise and capable of complex procedures.

We could prioritize a lab based on postal codes too! Which can be obtained through the NPPES registry via API calls.

In [24]:
len(df['PROVIDER_LEGAL_NAME'].unique())

10945

Attempting to retrieve address details for a NPI number via the NPPES NPI Registry API, this could be later used to narrow down to the closest lab available for a clinic.

In [25]:
import requests

In [26]:
NPI_NUMBER = 1003003781
api_url = f"https://npiregistry.cms.hhs.gov/api/?number={NPI_NUMBER}&enumeration_type=&taxonomy_description=&name_purpose=&first_name=&use_first_name_alias=&last_name=&organization_name=&address_purpose=&city=&state=&postal_code=&country_code=&limit=&skip=&pretty=&version=2.1"
print(api_url)

https://npiregistry.cms.hhs.gov/api/?number=1003003781&enumeration_type=&taxonomy_description=&name_purpose=&first_name=&use_first_name_alias=&last_name=&organization_name=&address_purpose=&city=&state=&postal_code=&country_code=&limit=&skip=&pretty=&version=2.1

In [27]:
response = requests.get(api_url)
data = response.json()

#gets first 5 digits of the postal code, going by the ZIP + 4 digit format
int(data['results'][0]['addresses'][1]['postal_code']) // 10000

96013

This postal code can be retrieved for all 10k unique NPIs, which can be used to determine labs based on proximity.

In [28]:
# from faker import Faker

# fake = Faker('en_US')

# df_npi_unique = df['RENDERING_NPI'].unique()

# npi_postal_codes = []

# for npi in df_npi_unique:
#     api_url = f"https://npiregistry.cms.hhs.gov/api/?number={npi}&enumeration_type=&taxonomy_description=&name_purpose=&first_name=&use_first_name_alias=&last_name=&organization_name=&address_purpose=&city=&state=&postal_code=&country_code=&limit=&skip=&pretty=&version=2.1"

#     try:
#         response = requests.get(api_url)
#         response.raise_for_status()
#         data = response.json()
#         postal_code_full = data['results'][0]['addresses'][0]['postal_code']

#         postal_code_5_digits = postal_code_full[:5]
        
#     except (requests.exceptions.RequestException, KeyError, IndexError) as e:
#         print(f"Failed to retrieve real postal code for NPI {npi}. Reason: {e}")

#         # Use Faker to generate a random California postal code if retrieval fails
#         postal_code_5_digits = fake.zipcode_in_state(state_abbr='CA')
        
#     finally:
#         npi_postal_codes.append({'RENDERING_NPI': npi, 'POSTAL_CODE': postal_code_5_digits})

# df_npi_postal_codes = pd.DataFrame(npi_postal_codes)
# df_npi_postal_codes.head(5)

In [29]:
# df_npi_postal_codes.to_csv('./data/csv/d_npi_postal.csv', index=False)
# df_npi_postal_codes.to_excel('./data/xlsx/d_npi_postal.xlsx', index=False)

In [30]:
file_path_postal = "./data/csv/d_npi_postal.csv"
df_npi_postal_codes = pd.read_csv(file_path_postal)

In [31]:
df_npi_postal_codes.head(1)

   RENDERING_NPI POSTAL_CODE
0     1003003781       96001

**The NPIs that were missing data on the NPPES registry returned the errors that you see above, so I've replaced them with a random postal code under state of California using Faker library.**

This was run only once, and the data is saved in the above commented directory.

**IMPORTANT NOTE: Do not uncomment or run again because it takes a while to retrieve all the postal codes for 10k unique NPIs, it's been already done.** If you need to work with the postal code data, you could directly retrieve the data from the directory.

In [32]:
df.columns

Index(['RENDERING_NPI', 'PROVIDER_LEGAL_NAME', 'CALENDAR_YEAR',
       'DELIVERY_SYSTEM', 'DELIVERY_SYSTEM_ENCODED', 'PROVIDER_TYPE',
       'PROVIDER_TYPE_ENCODED', 'AGE_GROUP', 'AGE_GROUP_ENCODED',
       'ADV_USER_CNT', 'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT',
       'ADV_SVC_ANNOTATION_CODE', 'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE',
       'PREV_SVC_CNT', 'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT',
       'EXAM_SVC_ANNOTATION_CODE'],
      dtype='object')

**Merging these postal codes into the main data over NPI**

In [33]:
df = pd.merge(df, df_npi_postal_codes, on='RENDERING_NPI', how='left')
df.head(1)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,CALENDAR_YEAR,DELIVERY_SYSTEM,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE,PROVIDER_TYPE_ENCODED,AGE_GROUP,AGE_GROUP_ENCODED,ADV_USER_CNT,...,PREV_SVC_ANNOTATION_CODE,TXMT_USER_CNT,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,POSTAL_CODE
0,1003003781,CHOTI SUPAK,2018,FFS,0,RENDERING,0,AGE 0-20,0,101.0,...,-1.0,37.0,-1.0,115.0,-1.0,83.0,-1.0,98.0,-1.0,96001

In [34]:
new_order = ['RENDERING_NPI', 'PROVIDER_LEGAL_NAME', 'POSTAL_CODE', 'CALENDAR_YEAR',
       'DELIVERY_SYSTEM', 'DELIVERY_SYSTEM_ENCODED', 'PROVIDER_TYPE', 'PROVIDER_TYPE_ENCODED', 'AGE_GROUP', 'AGE_GROUP_ENCODED', 'ADV_USER_CNT',
       'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT', 'ADV_SVC_ANNOTATION_CODE',
       'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE', 'PREV_SVC_CNT',
       'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT', 'EXAM_SVC_ANNOTATION_CODE']
df = df[new_order]
df.head(1)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,POSTAL_CODE,CALENDAR_YEAR,DELIVERY_SYSTEM,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE,PROVIDER_TYPE_ENCODED,AGE_GROUP,AGE_GROUP_ENCODED,...,PREV_SVC_CNT,PREV_SVC_ANNOTATION_CODE,TXMT_USER_CNT,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE
0,1003003781,CHOTI SUPAK,96001,2018,FFS,0,RENDERING,0,AGE 0-20,0,...,216.0,-1.0,37.0,-1.0,115.0,-1.0,83.0,-1.0,98.0,-1.0

Besides postal code, I think it'd be safe to assume the following:
* **TXMT_TO_EXAM_RATIO**: Average Treatment Service, can be determined by $\frac{Treatment Service Count}{Exam Service Count}$, a higher value of this indicate that the clinic focuses more on advanced treatment.
* **PREV_TO_EXAM_RATIO**: Average Preventive Servce, can be determined by $\frac{Preventive Service Count}{Exam Service Count}$, a higher value of this would show otherwise, puts more emphasis on preventive care.

Adding these columns to the data

In [35]:
import pandas as pd
import numpy as np

service_prefixes = ['PREV', 'TXMT', 'ADV']

for prefix in service_prefixes:
    feature = f'{prefix}_SVC_CNT'
    df[f'{prefix}_TO_EXAM_RATIO'] = np.where(df['EXAM_SVC_CNT'] > 0, 
                                        df[feature] / df['EXAM_SVC_CNT'], 
                                        0)
    
df.head(5)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,POSTAL_CODE,CALENDAR_YEAR,DELIVERY_SYSTEM,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE,PROVIDER_TYPE_ENCODED,AGE_GROUP,AGE_GROUP_ENCODED,...,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,PREV_TO_EXAM_RATIO,TXMT_TO_EXAM_RATIO,ADV_TO_EXAM_RATIO
0,1003003781,CHOTI SUPAK,96001,2018,FFS,0,RENDERING,0,AGE 0-20,0,...,-1.0,115.0,-1.0,83.0,-1.0,98.0,-1.0,2.204082,1.173469,8.642857
1,1003003781,CHOTI SUPAK,96001,2018,FFS,0,RENDERING,0,AGE 21+,1,...,-1.0,73.0,-1.0,15.0,-1.0,15.0,-1.0,2.000000,4.866667,16.866667
2,1003004698,"GODFREY III, MERLE FRANKLIN,",95650,2018,FFS,0,RENDERING,0,AGE 21+,1,...,-1.0,712.0,-1.0,316.0,-1.0,316.0,-1.0,0.414557,2.253165,3.838608
3,1003009440,VONTELA REKHA,94509,2018,FFS,0,RENDERING,0,AGE 0-20,0,...,-1.0,456.0,-1.0,919.0,-1.0,1081.0,-1.0,3.452359,0.421832,8.124884
4,1003009440,VONTELA REKHA,94509,2018,FFS,0,RENDERING,0,AGE 21+,1,...,-1.0,824.0,-1.0,744.0,-1.0,744.0,-1.0,1.876344,1.107527,7.173387

In theory, here's how it could work:

**Data Collection & Profiling**

**Clinic Profile**:\
This would include
* Postal Code
* Demographic: Age group
* Business Model: **RENDERING** or **RENDERING SNC** as provider types, and **FFS**, **GMC**, **PHP** as delivery system types.
* Service Demand: **PREV_TO_EXAM_RATIO**, **TXMT_TO_EXAM_RATIO**, **ADV_TO_EXAM_RATIO**

**Lab Profile**:\
This would include:
* Postal Code
* Specialization: *Restorative*, *Cosmetic*, *Preventive*
* Business Model: Pricing structure, example: flat fee, or volume discounts

**The Matching Algorithm**\
Once both sets of data are profiled, the AI model performs a similarity-based matching process. The goal is to calculate a score for each potential clinic-lab pair based on how well they align.

**Proximity Scoring**: The model calculates a proximity score by comparing the clinic's postal code to each lab's postal code. The closer the two are, the higher the score. A direct zip code match would be the highest score.

**Specialization Scoring**: The model compares the clinic's service demand profile with the lab's specializations.

If a clinic has a high **TXMT_TO_EXAM_RATIO**, the model will give a higher score to a lab that specializes in crowns and bridges.

If a clinic has a high **PREV_TO_EXAM_RATIO**, the model will give a high score to a lab that focuses on mouthguards and retainers.

**Business Model Scoring**: The model will align business models based on provider type (**RENDERING / RENDERING SNC**) or the delivery method (**FFS, GMC, PHP**).

**Performing splits**

In [36]:
df.columns

Index(['RENDERING_NPI', 'PROVIDER_LEGAL_NAME', 'POSTAL_CODE', 'CALENDAR_YEAR',
       'DELIVERY_SYSTEM', 'DELIVERY_SYSTEM_ENCODED', 'PROVIDER_TYPE',
       'PROVIDER_TYPE_ENCODED', 'AGE_GROUP', 'AGE_GROUP_ENCODED',
       'ADV_USER_CNT', 'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT',
       'ADV_SVC_ANNOTATION_CODE', 'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE',
       'PREV_SVC_CNT', 'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT', 'EXAM_SVC_ANNOTATION_CODE',
       'PREV_TO_EXAM_RATIO', 'TXMT_TO_EXAM_RATIO', 'ADV_TO_EXAM_RATIO'],
      dtype='object')

**D-General: NPI, Legal Name**

In [37]:
df_general = df[['RENDERING_NPI', 'PROVIDER_LEGAL_NAME']].copy()

In [38]:
df_general.to_csv('./data/csv/d_general.csv', index=False)
df_general.to_excel('./data/xlsx/cleaned_v1.xlsx', index=False)

**D-Encoded: Delivery System, Provider Type, Age Group**

In [39]:
d_encoded_delivery = df[['DELIVERY_SYSTEM', 'DELIVERY_SYSTEM_ENCODED']].drop_duplicates().sort_values('DELIVERY_SYSTEM_ENCODED').copy()
d_encoded_delivery

   DELIVERY_SYSTEM  DELIVERY_SYSTEM_ENCODED
0              FFS                        0
34             GMC                        1
9              PHP                        2

In [40]:
d_encoded_delivery.to_csv('./data/csv/d_encoded_delivery.csv', index=False)

In [41]:
d_encoded_provider = df[['PROVIDER_TYPE', 'PROVIDER_TYPE_ENCODED']].drop_duplicates().sort_values('PROVIDER_TYPE_ENCODED').copy()
d_encoded_provider

       PROVIDER_TYPE  PROVIDER_TYPE_ENCODED
0          RENDERING                      0
19698  RENDERING SNC                      1

In [42]:
d_encoded_provider.to_csv('./data/csv/d_encoded_provider.csv', index=False)

In [43]:
d_encoded_age = df[['AGE_GROUP', 'AGE_GROUP_ENCODED']].drop_duplicates().sort_values('AGE_GROUP_ENCODED').copy()
d_encoded_age

  AGE_GROUP  AGE_GROUP_ENCODED
0  AGE 0-20                  0
1   AGE 21+                  1

In [44]:
d_encoded_age.to_csv('./data/csv/d_encoded_age.csv', index=False)

**Generating artificial data for the lab-end using Faker library**

In [45]:
import pandas as pd
from faker import Faker
import random

fake = Faker('en_US')

specialization_types = {
    'restorative': 0,
    'preventive': 1,
    'prosthodontic': 2
}

business_models = {
    'full_service_lab': 0,
    'specialty_lab': 1,
    'milling_center': 2
}

num_records = 10000

lab_ids = list(range(1, num_records + 1))
lab_names = [fake.company() for _ in range(num_records)]
postal_codes = [fake.zipcode_in_state(state_abbr='CA') for _ in range(num_records)]
specializations = [random.choice(list(specialization_types.values())) for _ in range(num_records)]
business_model_types = [random.choice(list(business_models.values())) for _ in range(num_records)]

data = {
    'lab_id': lab_ids,
    'lab_name': lab_names,
    'postal_code': postal_codes,
    'specialization_type': specializations,
    'business_model': business_model_types
}

df_lab = pd.DataFrame(data)

In [46]:
df_lab.head(5)

,lab_id,lab_name,postal_code,specialization_type,business_model
0,1,"Pope, Ray and Hudson",90601,2,1
1,2,"Hernandez, Jones and Roberts",95768,0,0
2,3,Sanders Ltd,91544,2,2
3,4,Kerr-Richardson,90027,2,1
4,5,Ramos-James,93062,1,1

**some more post-processing of data**

In [47]:
df_lab = df_lab.rename(columns={'lab_id': 'LAB_ID', 'lab_name':'LAB_NAME', 'postal_code': 'LAB_POSTAL_CODE', 'specialization_type': 'LAB_SPECIALIZATION', 'business_model': 'LAB_BSNS_MODEL'})
df_lab.head(1)

,LAB_ID,LAB_NAME,LAB_POSTAL_CODE,LAB_SPECIALIZATION,LAB_BSNS_MODEL
0,1,"Pope, Ray and Hudson",90601,2,1

In [48]:
df_lab.to_csv('./data/artificial_lab_data.csv', index=False)

In [49]:
df.head(1)

,RENDERING_NPI,PROVIDER_LEGAL_NAME,POSTAL_CODE,CALENDAR_YEAR,DELIVERY_SYSTEM,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE,PROVIDER_TYPE_ENCODED,AGE_GROUP,AGE_GROUP_ENCODED,...,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,PREV_TO_EXAM_RATIO,TXMT_TO_EXAM_RATIO,ADV_TO_EXAM_RATIO
0,1003003781,CHOTI SUPAK,96001,2018,FFS,0,RENDERING,0,AGE 0-20,0,...,-1.0,115.0,-1.0,83.0,-1.0,98.0,-1.0,2.204082,1.173469,8.642857

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24298 entries, 0 to 24297
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   RENDERING_NPI               24298 non-null  int64
 1   PROVIDER_LEGAL_NAME         24298 non-null  object
 2   POSTAL_CODE                 24298 non-null  object
 3   CALENDAR_YEAR               24298 non-null  int64
 4   DELIVERY_SYSTEM             24298 non-null  object
 5   DELIVERY_SYSTEM_ENCODED     24298 non-null  int64
 6   PROVIDER_TYPE               24298 non-null  object
 7   PROVIDER_TYPE_ENCODED       24298 non-null  int64
 8   AGE_GROUP                   24298 non-null  object
 9   AGE_GROUP_ENCODED           24298 non-null  int64
 10  ADV_USER_CNT                24298 non-null  float64
 11  ADV_USER_ANNOTATION_CODE    24298 non-null  float64
 12  ADV_SVC_CNT                 24298 non-null  float64
 13  ADV_SVC_ANNOTATION_CODE     24298 non-null  float64
 14  PREV_USER_CNT               24298 non-null  float64
 15  PREV_USER_ANNOTATION_CODE   24298 non-null  float64
 16  PREV_SVC_CNT                24298 non-null  float64
 17  PREV_SVC_ANNOTATION_CODE    24298 non-null  float64
 18  TXMT_USER_CNT               24298 non-null  float64
 19  TXMT_USER_ ANNOTATION_CODE  24298 non-null  float64
 20  TXMT_SVC_CNT                24298 non-null  float64
 21  TXMT_SVC_ANNOTATION_CODE    24298 non-null  float64
 22  EXAM_USER_CNT               24298 non-null  float64
 23  EXAM_USER_ANNOTATION_CODE   24298 non-null  float64
 24  EXAM_SVC_CNT                24298 non-null  float64
 25  EXAM_SVC_ANNOTATION_CODE    24298 non-null  float64
 26  PREV_TO_EXAM_RATIO          24298 non-null  float64
 27  TXMT_TO_EXAM_RATIO          24298 non-null  float64
 28  ADV_TO_EXAM_RATIO           24298 non-null  float64
dtypes: float64(19), int64(5), object(5)
memory usage: 5.4+ MB

In [51]:
df_lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LAB_ID              10000 non-null  int64
 1   LAB_NAME            10000 non-null  object
 2   LAB_POSTAL_CODE     10000 non-null  object
 3   LAB_SPECIALIZATION  10000 non-null  int64
 4   LAB_BSNS_MODEL      10000 non-null  int64
dtypes: int64(3), object(2)
memory usage: 390.8+ KB

In [52]:
df_test = df['POSTAL_CODE'].copy()
df_test = pd.DataFrame(df_test)

In [53]:
df_test.isnull().sum()

POSTAL_CODE    0
dtype: int64

The *.to_numeric* operation on the df_test (i.e., copy of the postal code data) resulted in NaN values, this could possibly be due to non-numeric values present in the data.

In [54]:
df_test = pd.to_numeric(df_test['POSTAL_CODE'], errors='coerce')

In [55]:
df_test[df_test.isnull()]

947     NaN
948     NaN
2078    NaN
2079    NaN
2080    NaN
2081    NaN
2082    NaN
7230    NaN
21434   NaN
21435   NaN
Name: POSTAL_CODE, dtype: float64

In [56]:
for val in df_test[df_test.isnull()].index:
    print(df[['RENDERING_NPI', 'POSTAL_CODE']].iloc[val])

RENDERING_NPI    1043628639
POSTAL_CODE           N4K3H
Name: 947, dtype: object
RENDERING_NPI    1043628639
POSTAL_CODE           N4K3H
Name: 948, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           L5H2J
Name: 2078, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           L5H2J
Name: 2079, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           L5H2J
Name: 2080, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           L5H2J
Name: 2081, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           L5H2J
Name: 2082, dtype: object
RENDERING_NPI    1376614651
POSTAL_CODE           L6J6T
Name: 7230, dtype: object
RENDERING_NPI    1376614651
POSTAL_CODE           L6J6T
Name: 21434, dtype: object
RENDERING_NPI    1376614651
POSTAL_CODE           L6J6T
Name: 21435, dtype: object

And our suspicion was right, there's character data under the postal code feature. This could be directly from the NPPES registry.

In [57]:
NPI_NUMBER = df['RENDERING_NPI'].iloc[df_test[df_test.isnull()].index[5]]
api_url = f"https://npiregistry.cms.hhs.gov/api/?number={NPI_NUMBER}&enumeration_type=&taxonomy_description=&name_purpose=&first_name=&use_first_name_alias=&last_name=&organization_name=&address_purpose=&city=&state=&postal_code=&country_code=&limit=&skip=&pretty=&version=2.1"
print(api_url)

response = requests.get(api_url)
data = response.json()
print(data)
#gets first 5 digits of the postal code, going by the ZIP + 4 digit format
# (int(data['results'][0]['addresses'][1]) // 10000 )
print(data['results'][0]['addresses'][0])
print(data['results'][0]['addresses'][1])

https://npiregistry.cms.hhs.gov/api/?number=1104272301&enumeration_type=&taxonomy_description=&name_purpose=&first_name=&use_first_name_alias=&last_name=&organization_name=&address_purpose=&city=&state=&postal_code=&country_code=&limit=&skip=&pretty=&version=2.1
{'result_count': 1, 'results': [{'created_epoch': '1462564216000', 'enumeration_type': 'NPI-1', 'last_updated_epoch': '1494267998000', 'number': '1104272301', 'addresses': [{'country_code': 'CA', 'country_name': 'Canada', 'address_purpose': 'LOCATION', 'address_type': 'FGN', 'address_1': '1281 MISSISSAUGA ROAD', 'city': 'MISSISSAUGA', 'state': 'ONT', 'postal_code': 'L5H2J1', 'telephone_number': '647-881-2436'}, {'country_code': 'US', 'country_name': 'United States', 'address_purpose': 'MAILING', 'address_type': 'DOM', 'address_1': '2440 N TEXAS ST', 'city': 'FAIRFIELD', 'state': 'CA', 'postal_code': '945331602'}], 'practiceLocations': [], 'basic': {'first_name': 'VARUNA', 'last_name': 'CHOUDHRY', 'sole_proprietor': 'YES', 'sex': 'F', 'enumeration_date': '2016-05-06', 'last_updated': '2017-05-08', 'status': 'A', 'name_prefix': '--', 'name_suffix': '--'}, 'taxonomies': [{'code': '122300000X', 'taxonomy_group': '', 'desc': 'Dentist', 'state': 'CA', 'license': '100196', 'primary': True}], 'identifiers': [], 'endpoints': [], 'other_names': []}]}
{'country_code': 'CA', 'country_name': 'Canada', 'address_purpose': 'LOCATION', 'address_type': 'FGN', 'address_1': '1281 MISSISSAUGA ROAD', 'city': 'MISSISSAUGA', 'state': 'ONT', 'postal_code': 'L5H2J1', 'telephone_number': '647-881-2436'}
{'country_code': 'US', 'country_name': 'United States', 'address_purpose': 'MAILING', 'address_type': 'DOM', 'address_1': '2440 N TEXAS ST', 'city': 'FAIRFIELD', 'state': 'CA', 'postal_code': '945331602'}

Looks like there was a mistake at the first retrieval, I had retrieved the `address_purpose: 'MAILING'` postal code instead of the `address_purpose: 'LOCATION'`, since this was an indexing error we could just retrieve the right data using the NPPES registry.

In [58]:
sol_postal_codes = []

for val in df_test[df_test.isnull()].index:
    npi_t1 = df['RENDERING_NPI'].iloc[val]
    api_url = f"https://npiregistry.cms.hhs.gov/api/?number={npi_t1}&enumeration_type=&taxonomy_description=&name_purpose=&first_name=&use_first_name_alias=&last_name=&organization_name=&address_purpose=&city=&state=&postal_code=&country_code=&limit=&skip=&pretty=&version=2.1"
    response = requests.get(api_url)
    data = response.json()
    sol_postal_codes.append(int(data['results'][0]['addresses'][1]['postal_code']) // 10000 )

sol_postal_codes

[96003, 96003, 94533, 94533, 94533, 94533, 94533, 93638, 93638, 93638]

In [59]:
target_idx = df_test[df_test.isnull()].index
df.loc[target_idx, 'POSTAL_CODE'] = sol_postal_codes

In [60]:
for val in df_test[df_test.isnull()].index:
    print(df[['RENDERING_NPI', 'POSTAL_CODE']].iloc[val])

RENDERING_NPI    1043628639
POSTAL_CODE           96003
Name: 947, dtype: object
RENDERING_NPI    1043628639
POSTAL_CODE           96003
Name: 948, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           94533
Name: 2078, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           94533
Name: 2079, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           94533
Name: 2080, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           94533
Name: 2081, dtype: object
RENDERING_NPI    1104272301
POSTAL_CODE           94533
Name: 2082, dtype: object
RENDERING_NPI    1376614651
POSTAL_CODE           93638
Name: 7230, dtype: object
RENDERING_NPI    1376614651
POSTAL_CODE           93638
Name: 21434, dtype: object
RENDERING_NPI    1376614651
POSTAL_CODE           93638
Name: 21435, dtype: object

Now that the missing postal codes have been replaced with right values, we can perform *.to_numeric* function and convert it to numeric from object type.

In [61]:
df_num_main = df[['RENDERING_NPI', 'POSTAL_CODE', 'DELIVERY_SYSTEM_ENCODED', 'PROVIDER_TYPE_ENCODED', 'AGE_GROUP_ENCODED', 'ADV_USER_CNT', 'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT',
       'ADV_SVC_ANNOTATION_CODE', 'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE',
       'PREV_SVC_CNT', 'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT', 'EXAM_SVC_ANNOTATION_CODE',
       'PREV_TO_EXAM_RATIO', 'TXMT_TO_EXAM_RATIO', 'ADV_TO_EXAM_RATIO']].copy()
df_num_main.head(1)

,RENDERING_NPI,POSTAL_CODE,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE_ENCODED,AGE_GROUP_ENCODED,ADV_USER_CNT,ADV_USER_ANNOTATION_CODE,ADV_SVC_CNT,ADV_SVC_ANNOTATION_CODE,PREV_USER_CNT,...,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,PREV_TO_EXAM_RATIO,TXMT_TO_EXAM_RATIO,ADV_TO_EXAM_RATIO
0,1003003781,96001,0,0,0,101.0,-1.0,847.0,-1.0,89.0,...,-1.0,115.0,-1.0,83.0,-1.0,98.0,-1.0,2.204082,1.173469,8.642857

In [62]:
df_num_main['POSTAL_CODE'] = pd.to_numeric(df_num_main['POSTAL_CODE'], errors='coerce')
df_lab['LAB_POSTAL_CODE'] = pd.to_numeric(df_lab['LAB_POSTAL_CODE'], errors='coerce')

In [63]:
df_num_main.to_csv('./data/csv/all_numerical_v1.csv', index=False)
df_num_main.to_excel('./data/xlsx/all_numerical_v1.xlsx', index=False)

In [64]:
df_clinic = df_num_main.copy()

In [65]:
df_clinic.columns

Index(['RENDERING_NPI', 'POSTAL_CODE', 'DELIVERY_SYSTEM_ENCODED',
       'PROVIDER_TYPE_ENCODED', 'AGE_GROUP_ENCODED', 'ADV_USER_CNT',
       'ADV_USER_ANNOTATION_CODE', 'ADV_SVC_CNT', 'ADV_SVC_ANNOTATION_CODE',
       'PREV_USER_CNT', 'PREV_USER_ANNOTATION_CODE', 'PREV_SVC_CNT',
       'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_CNT',
       'TXMT_USER_ ANNOTATION_CODE', 'TXMT_SVC_CNT',
       'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_CNT',
       'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_CNT', 'EXAM_SVC_ANNOTATION_CODE',
       'PREV_TO_EXAM_RATIO', 'TXMT_TO_EXAM_RATIO', 'ADV_TO_EXAM_RATIO'],
      dtype='object')

In [66]:
df_lab_processed = df_lab[['LAB_ID', 'LAB_POSTAL_CODE', 'LAB_SPECIALIZATION', 'LAB_BSNS_MODEL']]
df_lab_processed.columns

Index(['LAB_ID', 'LAB_POSTAL_CODE', 'LAB_SPECIALIZATION', 'LAB_BSNS_MODEL'], dtype='object')

**merging logic to merge the clinic and lab data to form training dataset**

In [67]:
def calculate_required_spec(d):
    ratio_cols = ["PREV_TO_EXAM_RATIO", "TXMT_TO_EXAM_RATIO", "ADV_TO_EXAM_RATIO"]
    
    d['DOMINANT_RATIO'] = d[ratio_cols].idxmax(axis=1)

    encoded_vals = {
        'PREV_TO_EXAM_RATIO': 1,
        'TXMT_TO_EXAM_RATIO': 0,
        'ADV_TO_EXAM_RATIO': 2
    }

    d['REQUIRED_SPEC'] = d['DOMINANT_RATIO'].map(encoded_vals)

    d.drop(columns=['DOMINANT_RATIO'], inplace=True)

    return d

In [ ]:
def calculate_required_bsns_model(d):
    
    svc_count_cols = ['PREV_SVC_CNT', 'TXMT_SVC_CNT', 'ADV_SVC_CNT', 'EXAM_SVC_CNT']

    for col in svc_count_cols:
        d[col] = pd.to_numeric(d[col], errors='coerce').fillna(0)
        
    d['TOTAL_SVC_VOL'] = d[svc_count_cols].sum(axis=1)

    lower_q = 0.33
    higher_q = 1 - lower_q
    LOW_VOL_T = d['TOTAL_SVC_VOL'].quantile(lower_q) 
    HIGH_VOL_T = d['TOTAL_SVC_VOL'].quantile(higher_q)

    
    d['REQUIRED_BSNS_MODEL'] = np.where(

        d['TOTAL_SVC_VOL'] >= HIGH_VOL_T,
        
        np.where(

            (d['REQUIRED_SPEC'] == 2) | (d['REQUIRED_SPEC'] == 1) | (d['REQUIRED_SPEC'] == 0),
            1,
            0
        )
    )

    d.drop(columns=['TOTAL_SVC_VOL'], inplace=True)

    return d

In [ ]:
import json
import random
def retrieve_id_postal(postal_code, spec, bsns):
    increment = 100
    for increment in range(1000):
        df_test = pd.DataFrame(df_lab[
            (df_lab['LAB_SPECIALIZATION'] == spec) & 
            (df_lab['LAB_BSNS_MODEL'] == bsns) &
            (df_lab['LAB_POSTAL_CODE'] >= postal_code - increment) & 
            (df_lab['LAB_POSTAL_CODE'] <= postal_code + increment)
        ][['LAB_ID', 'LAB_NAME', 'LAB_POSTAL_CODE']])
        
        if len(df_test) > 0:
            return json.loads(df_test.to_json())
            break
        else: increment += 100

id_list = list(retrieve_id_postal(91000, 2, 0)['LAB_ID'])
lower_bound = 0
upper_bound = len(id_list) - 1
int(id_list[random.randint(0, len(id_list) - 1)])

397

In [74]:
df_test = df_clinic.copy()
df_test.head(1)

,RENDERING_NPI,POSTAL_CODE,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE_ENCODED,AGE_GROUP_ENCODED,ADV_USER_CNT,ADV_USER_ANNOTATION_CODE,ADV_SVC_CNT,ADV_SVC_ANNOTATION_CODE,PREV_USER_CNT,...,TXMT_USER_ ANNOTATION_CODE,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,PREV_TO_EXAM_RATIO,TXMT_TO_EXAM_RATIO,ADV_TO_EXAM_RATIO
0,1003003781,96001,0,0,0,101.0,-1.0,847.0,-1.0,89.0,...,-1.0,115.0,-1.0,83.0,-1.0,98.0,-1.0,2.204082,1.173469,8.642857

In [76]:
df_test = calculate_required_spec(df_test)
df_test.head(1)

,RENDERING_NPI,POSTAL_CODE,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE_ENCODED,AGE_GROUP_ENCODED,ADV_USER_CNT,ADV_USER_ANNOTATION_CODE,ADV_SVC_CNT,ADV_SVC_ANNOTATION_CODE,PREV_USER_CNT,...,TXMT_SVC_CNT,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,PREV_TO_EXAM_RATIO,TXMT_TO_EXAM_RATIO,ADV_TO_EXAM_RATIO,REQUIRED_SPEC
0,1003003781,96001,0,0,0,101.0,-1.0,847.0,-1.0,89.0,...,115.0,-1.0,83.0,-1.0,98.0,-1.0,2.204082,1.173469,8.642857,2

In [77]:
df_test = calculate_required_bsns_model(df_test)
df_test.head(1)

,RENDERING_NPI,POSTAL_CODE,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE_ENCODED,AGE_GROUP_ENCODED,ADV_USER_CNT,ADV_USER_ANNOTATION_CODE,ADV_SVC_CNT,ADV_SVC_ANNOTATION_CODE,PREV_USER_CNT,...,TXMT_SVC_ANNOTATION_CODE,EXAM_USER_CNT,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,PREV_TO_EXAM_RATIO,TXMT_TO_EXAM_RATIO,ADV_TO_EXAM_RATIO,REQUIRED_SPEC,REQUIRED_BSNS_MODEL
0,1003003781,96001,0,0,0,101.0,-1.0,847.0,-1.0,89.0,...,-1.0,83.0,-1.0,98.0,-1.0,2.204082,1.173469,8.642857,2,1

In [ ]:
import pandas as pd
import numpy as np

def retrieve_id_postal_for_match(postal_code, spec, bsns, df_lab):
    """
    Searches for an eligible lab by expanding the numeric postal code range.
    If no local match is found, it assigns a random lab that meets the
    specialization and business model criteria.
    """
    if pd.isna(postal_code) or pd.isna(spec) or pd.isna(bsns):
         return {'FINAL_LAB_ID': [np.nan], 'FINAL_LAB_POSTAL_CODE': [np.nan]}
         
    postal_code = int(postal_code)

    df_lab['LAB_POSTAL_CODE_INT'] = df_lab['LAB_POSTAL_CODE'].astype(int)

    full_eligible_pool = df_lab[
        (df_lab['LAB_SPECIALIZATION'] == spec) & 
        (df_lab['LAB_BSNS_MODEL'] == bsns)
    ].copy()
    
    search_increments = range(100, 1001, 100)

    for current_increment in search_increments:
        lower_bound = postal_code - current_increment
        upper_bound = postal_code + current_increment

        local_eligible_labs = full_eligible_pool[
            (full_eligible_pool['LAB_POSTAL_CODE_INT'] >= lower_bound) & 
            (full_eligible_pool['LAB_POSTAL_CODE_INT'] <= upper_bound)
        ][['LAB_ID', 'LAB_POSTAL_CODE']]
        
        if not local_eligible_labs.empty:
            best_match = local_eligible_labs.sample(n=1).iloc[0]
            
            return {
                'FINAL_LAB_ID': [int(best_match['LAB_ID'])], 
                'FINAL_LAB_POSTAL_CODE': [int(best_match['LAB_POSTAL_CODE'])]
            }

    if not full_eligible_pool.empty:

        default_match = full_eligible_pool[['LAB_ID', 'LAB_POSTAL_CODE']].sample(n=1).iloc[0]
        
        return {
            'FINAL_LAB_ID': [int(default_match['LAB_ID'])],
            'FINAL_LAB_POSTAL_CODE': [int(default_match['LAB_POSTAL_CODE'])]
        }

    return {'FINAL_LAB_ID': [int(-1)], 'FINAL_LAB_POSTAL_CODE': [int(0)]}


def assign_final_lab_match(df_test, df_lab):
    """
    Applies the lab matching logic to the df_test DataFrame and 
    assigns the matching lab's ID and Postal Code columns in place,
    ensuring no NaNs in the final output columns.
    """

    df_test['POSTAL_CODE'] = pd.to_numeric(df_test['POSTAL_CODE'].astype(str).str.zfill(5), errors='coerce').astype('Int64')
    df_lab['LAB_POSTAL_CODE'] = df_lab['LAB_POSTAL_CODE'].astype(str).str.zfill(5)

    match_results = df_test.apply(
        lambda row: retrieve_id_postal_for_match(
            row['POSTAL_CODE'], 
            row['REQUIRED_SPEC'],         
            row['REQUIRED_BSNS_MODEL'],   
            df_lab
        ),
        axis=1
    )

    match_df = match_results.apply(pd.Series)

    df_test['LAB_ID'] = match_df['FINAL_LAB_ID'].str[0].astype(int)
    df_test['LAB_POSTAL_CODE'] = match_df['FINAL_LAB_POSTAL_CODE'].str[0].astype(int)
    
    return df_test

df_test = assign_final_lab_match(df_test, df_lab)
df_test.head(1)

,RENDERING_NPI,POSTAL_CODE,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE_ENCODED,AGE_GROUP_ENCODED,ADV_USER_CNT,ADV_USER_ANNOTATION_CODE,ADV_SVC_CNT,ADV_SVC_ANNOTATION_CODE,PREV_USER_CNT,...,EXAM_USER_ANNOTATION_CODE,EXAM_SVC_CNT,EXAM_SVC_ANNOTATION_CODE,PREV_TO_EXAM_RATIO,TXMT_TO_EXAM_RATIO,ADV_TO_EXAM_RATIO,REQUIRED_SPEC,REQUIRED_BSNS_MODEL,LAB_ID,LAB_POSTAL_CODE
0,1003003781,96001,0,0,0,101.0,-1.0,847.0,-1.0,89.0,...,-1.0,98.0,-1.0,2.204082,1.173469,8.642857,2,1,4322,96040

In [79]:
df_test.isnull().sum()

RENDERING_NPI                 0
POSTAL_CODE                   0
DELIVERY_SYSTEM_ENCODED       0
PROVIDER_TYPE_ENCODED         0
AGE_GROUP_ENCODED             0
ADV_USER_CNT                  0
ADV_USER_ANNOTATION_CODE      0
ADV_SVC_CNT                   0
ADV_SVC_ANNOTATION_CODE       0
PREV_USER_CNT                 0
PREV_USER_ANNOTATION_CODE     0
PREV_SVC_CNT                  0
PREV_SVC_ANNOTATION_CODE      0
TXMT_USER_CNT                 0
TXMT_USER_ ANNOTATION_CODE    0
TXMT_SVC_CNT                  0
TXMT_SVC_ANNOTATION_CODE      0
EXAM_USER_CNT                 0
EXAM_USER_ANNOTATION_CODE     0
EXAM_SVC_CNT                  0
EXAM_SVC_ANNOTATION_CODE      0
PREV_TO_EXAM_RATIO            0
TXMT_TO_EXAM_RATIO            0
ADV_TO_EXAM_RATIO             0
REQUIRED_SPEC                 0
REQUIRED_BSNS_MODEL           0
LAB_ID                        0
LAB_POSTAL_CODE               0
dtype: int64

In [80]:
filter_mask = (df_test["TXMT_SVC_CNT"] != -1) & \
              (df_test["ADV_SVC_CNT"] != -1) & \
              (df_test["PREV_SVC_CNT"] != -1) & \
              (df_test["EXAM_SVC_CNT"] != -1)

df_test_cleaned = df_test[filter_mask].copy()
len(df_test_cleaned)

15108

In [81]:
df_test_cleaned.drop(columns=['ADV_USER_ANNOTATION_CODE', 'ADV_SVC_ANNOTATION_CODE', 'PREV_USER_ANNOTATION_CODE', 'PREV_SVC_ANNOTATION_CODE', 'TXMT_USER_ ANNOTATION_CODE',
                              'TXMT_SVC_ANNOTATION_CODE', 'EXAM_USER_ANNOTATION_CODE', 'EXAM_SVC_ANNOTATION_CODE'], inplace=True)

In [82]:
df_test_cleaned.head()

,RENDERING_NPI,POSTAL_CODE,DELIVERY_SYSTEM_ENCODED,PROVIDER_TYPE_ENCODED,AGE_GROUP_ENCODED,ADV_USER_CNT,ADV_SVC_CNT,PREV_USER_CNT,PREV_SVC_CNT,TXMT_USER_CNT,TXMT_SVC_CNT,EXAM_USER_CNT,EXAM_SVC_CNT,PREV_TO_EXAM_RATIO,TXMT_TO_EXAM_RATIO,ADV_TO_EXAM_RATIO,REQUIRED_SPEC,REQUIRED_BSNS_MODEL,LAB_ID,LAB_POSTAL_CODE
0,1003003781,96001,0,0,0,101.0,847.0,89.0,216.0,37.0,115.0,83.0,98.0,2.204082,1.173469,8.642857,2,1,4322,96040
1,1003003781,96001,0,0,1,67.0,253.0,19.0,30.0,43.0,73.0,15.0,15.0,2.000000,4.866667,16.866667,2,1,5583,96006
2,1003004698,95650,0,0,1,357.0,1213.0,123.0,131.0,357.0,712.0,316.0,316.0,0.414557,2.253165,3.838608,2,2,2170,95680
3,1003009440,94509,0,0,0,975.0,8783.0,930.0,3732.0,208.0,456.0,919.0,1081.0,3.452359,0.421832,8.124884,2,2,8354,94486
4,1003009440,94509,0,0,1,837.0,5337.0,706.0,1396.0,335.0,824.0,744.0,744.0,1.876344,1.107527,7.173387,2,2,1924,94569

In [83]:
df_test_cleaned.to_csv('./data/csv/d_training_main.csv', index=False)
df_test_cleaned.to_excel('./data/xlsx/d_training_main.xlsx', index=False)

In [94]:
df_main = df_test_cleaned.copy()
df_main.columns

Index(['RENDERING_NPI', 'POSTAL_CODE', 'DELIVERY_SYSTEM_ENCODED',
       'PROVIDER_TYPE_ENCODED', 'AGE_GROUP_ENCODED', 'ADV_USER_CNT',
       'ADV_SVC_CNT', 'PREV_USER_CNT', 'PREV_SVC_CNT', 'TXMT_USER_CNT',
       'TXMT_SVC_CNT', 'EXAM_USER_CNT', 'EXAM_SVC_CNT', 'PREV_TO_EXAM_RATIO',
       'TXMT_TO_EXAM_RATIO', 'ADV_TO_EXAM_RATIO', 'REQUIRED_SPEC',
       'REQUIRED_BSNS_MODEL', 'LAB_ID', 'LAB_POSTAL_CODE'],
      dtype='object')

In [96]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15108 entries, 0 to 24297
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   RENDERING_NPI            15108 non-null  int64
 1   POSTAL_CODE              15108 non-null  Int64
 2   DELIVERY_SYSTEM_ENCODED  15108 non-null  int64
 3   PROVIDER_TYPE_ENCODED    15108 non-null  int64
 4   AGE_GROUP_ENCODED        15108 non-null  int64
 5   ADV_USER_CNT             15108 non-null  float64
 6   ADV_SVC_CNT              15108 non-null  float64
 7   PREV_USER_CNT            15108 non-null  float64
 8   PREV_SVC_CNT             15108 non-null  float64
 9   TXMT_USER_CNT            15108 non-null  float64
 10  TXMT_SVC_CNT             15108 non-null  float64
 11  EXAM_USER_CNT            15108 non-null  float64
 12  EXAM_SVC_CNT             15108 non-null  float64
 13  PREV_TO_EXAM_RATIO       15108 non-null  float64
 14  TXMT_TO_EXAM_RATIO       15108 non-null  float64
 15  ADV_TO_EXAM_RATIO        15108 non-null  float64
 16  REQUIRED_SPEC            15108 non-null  int64
 17  REQUIRED_BSNS_MODEL      15108 non-null  int64
 18  LAB_ID                   15108 non-null  int64
 19  LAB_POSTAL_CODE          15108 non-null  int64
dtypes: Int64(1), float64(11), int64(8)
memory usage: 2.4 MB

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

TARGET_COLUMN = 'LAB_ID'

EXCLUDE_COLUMNS = [
    'RENDERING_NPI', 
    TARGET_COLUMN
]

features = [col for col in df_main.columns if col not in EXCLUDE_COLUMNS]

X = df_main[features].copy()
y = df_main[TARGET_COLUMN].copy()

postal_encoder = LabelEncoder()
X['POSTAL_CODE_ENCODED'] = postal_encoder.fit_transform(X['POSTAL_CODE'])
X.drop(columns=['POSTAL_CODE'], inplace=True) 

lab_postal_encoder = LabelEncoder()
X['LAB_POSTAL_CODE_ENCODED'] = lab_postal_encoder.fit_transform(X['LAB_POSTAL_CODE'])
X.drop(columns=['LAB_POSTAL_CODE'], inplace=True) 

X_train, X_test, y_train, y_test_original = train_test_split(
    X, 
    y,
    test_size=0.2, 
    random_state=42
)

train_label_encoder = LabelEncoder()
y_train_encoded = train_label_encoder.fit_transform(y_train)

try:
    y_test_encoded = train_label_encoder.transform(y_test_original)
except ValueError as e:

    print("Warning: Test set contains labels not in training set. Handling manually.")
    mapping = {label: index for index, label in enumerate(train_label_encoder.classes_)}
    y_test_encoded = np.array([mapping.get(label, -1) for label in y_test_original])

n_classes_train = len(train_label_encoder.classes_)

xgb_model = xgb.XGBClassifier(
    objective='multi:softmax',
    num_class=n_classes_train,
    n_estimators=100,
    learning_rate=0.1,
    n_jobs=-1,
    use_label_encoder=False,
    eval_metric='mlogloss',
    random_state=42
)

print(f"\nXGBoost Training on {n_classes_train} unique LAB_IDs")
xgb_model.fit(X_train, y_train_encoded) 
print("training complete")

valid_test_indices = y_test_encoded != -1
y_test_valid = y_test_encoded[valid_test_indices]
X_test_valid = X_test.iloc[valid_test_indices]

y_proba = xgb_model.predict_proba(X_test_valid) 
y_pred = xgb_model.predict(X_test_valid)

accuracy = accuracy_score(y_test_valid, y_pred)

print(f"accuracy: {accuracy:.4f}")
# print(f"Shape of Probability Output (y_proba): {y_proba.shape}")

Warning: Test set contains labels not in training set. Handling manually.

XGBoost Training on 2689 unique LAB_IDs

C:\Users\anxpr\anaconda3\envs\sdv1\lib\site-packages\xgboost\core.py:158: UserWarning: [13:45:53] WARNING: D:\bld\xgboost-split_1737531311373\work\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

training complete
accuracy: 0.2959

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import joblib
test_case_raw_data = {
    'RENDERING_NPI': 1234567890,
    'POSTAL_CODE': '90210',
    'LAB_POSTAL_CODE': '90001',
    'DELIVERY_SYSTEM_ENCODED': 0,
    'PROVIDER_TYPE_ENCODED': 1,
    'AGE_GROUP_ENCODED': 2,
    'ADV_USER_CNT': 10,
    'ADV_SVC_CNT': 5,
    'PREV_USER_CNT': 50,
    'PREV_SVC_CNT': 150,
    'TXMT_USER_CNT': 30,
    'TXMT_SVC_CNT': 90,
    'EXAM_USER_CNT': 100,
    'EXAM_SVC_CNT': 250,
    'PREV_TO_EXAM_RATIO': 0.60,
    'TXMT_TO_EXAM_RATIO': 0.36,
    'ADV_TO_EXAM_RATIO': 0.02,
    'REQUIRED_SPEC': 1,
    'REQUIRED_BSNS_MODEL': 0,
}

X_new_raw = pd.DataFrame([test_case_raw_data])

X_new = X_new_raw.drop(columns=['RENDERING_NPI']).copy()

X_new['POSTAL_CODE_ENCODED'] = postal_encoder.transform(X_new['POSTAL_CODE'])
X_new.drop(columns=['POSTAL_CODE'], inplace=True)

X_new['LAB_POSTAL_CODE_ENCODED'] = lab_postal_encoder.transform(X_new['LAB_POSTAL_CODE'])
X_new.drop(columns=['LAB_POSTAL_CODE'], inplace=True)

X_new_processed = X_new.reindex(columns=X_train.columns, fill_value=0)


probabilities = xgb_model.predict_proba(X_new_processed)

top_5_indices = np.argsort(probabilities[0])[-5:][::-1]

top_5_lab_ids = train_label_encoder.inverse_transform(top_5_indices)
top_5_probabilities = probabilities[0][top_5_indices]


print("\nRecommendation Results for New Clinic Case")
print(f"Top 5 Recommended LAB_IDs (Out of {n_classes_train} total):\n")

for lab_id, prob in zip(top_5_lab_ids, top_5_probabilities):
    print(f"LAB_ID {lab_id:<10}: Probability = {prob * 100:.2f}%")

df_lab[df_lab['LAB_ID'] == top_5_lab_ids[0]]

Recommendation Results for New Clinic Case
Top 5 Recommended LAB_IDs (Out of 2689 total):

LAB_ID 6007      : Probability = 44.03%
LAB_ID 3325      : Probability = 9.01%
LAB_ID 8867      : Probability = 4.89%
LAB_ID 1691      : Probability = 2.69%
LAB_ID 834       : Probability = 1.65%

,LAB_ID,LAB_NAME,LAB_POSTAL_CODE,LAB_SPECIALIZATION,LAB_BSNS_MODEL,LAB_POSTAL_CODE_INT
6006,6007,Curtis and Sons,90001,1,1,90001